# ----------------------------------------------------------------------------------------------------------------------
#
#   Test
#
# ----------------------------------------------------------------------------------------------------------------------
# Documentation
#   * Official
#     * https://docs.gitlab.com/ee/ci/yaml/
#     * https://docs.gitlab.com/ee/ci/variables/predefined_variables.html
#
#   * Japanese
#     * https://gitlab-docs.creationline.com/ee/ci/yaml/README.html
#
# Table of Contents
#   * pytest: https://github.com/pytest-dev/pytest
#
# ----------------------------------------------------------
#   pytest
# ----------------------------------------------------------
roslaunch-pytest:
  extends:
    - .catkin_ws
  stage: Test
  script:
    - apt-get update
    - apt-get install -y --no-install-recommends python3-pip wget > /dev/null
    - pip3 install --upgrade --force-reinstall -r "${REQUIREMENTS_TXT_PATH}"
    - pip3 install $(grep "pytest" ${REQUIREMENTS_TEST_TXT_PATH} | sed -z "s/\n/ /g")
    - bash yolov5_ros/weights/download.sh > /dev/null
    - pytest ./
